/* https://github.com/nagexiucai/website */

#body {
    background-color: black;
    color: white;
}

ul {
    float: left;
    margin-top: 0;
    margin-bottom: 0;
}

li {
    list-style-type: none;
}
li:hover {
    cursor: help;
    color: lightpink;
}

td {
    width: 160px;
}

a {
    text-decoration: none;
    color: inherit;
}