/* https://github.com/nagexiucai/website */

#body {
    background-color: black;
    color: white;
}

li {
    list-style-type: none;
}
li:hover {
    cursor: help;
    color: lightpink;
}

td {
    width: 160px;
}