/* https://github.com/nagexiucai/website */

#body {
    background-color: black;
    color: white;
}

table {
    width: 520px;
    margin: auto;
}

ul, p {
    display: inherit;
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}
li:hover {
    cursor: help;
    color: lightpink;
}

a {
    text-decoration: none;
    color: inherit;
}