/* https://github.com/nagexiucai/website */

.ribbon {
    z-index:99;
    position:fixed;
    top:0;
    width:100%;
    height:7px;
}

.x,
.y,
.z {
    display:inline-block;
    height:100%;
    border-top:6px solid black;
    opacity:0.45;
}
.x {
    background-color:#00BCD4;
    width:30%;
}
.y {
    background-color:#ff0093;
    width:40%;
}
.z {
    background-color:#FFC107;
    width:30%;
}

.container {
    position:relative;
    height:100%;
}

.navigator {
    z-index:0;
    position:fixed;
    top:0;
    width:111px;
    height:100%;
    overflow-y:scroll;
    background-color:lightgray;
    color:gray;
}

.views {
    margin-left:111px;
    margin-right:0;
    height:100%;
    background-image:url("/frontend/material-library/logo-ebiz.png");
}

a {
    color:gray;
    text-decoration:none;
}
a:hover {
    color:blueviolet;
    font-weight:bolder;
}

dt {
    font-size: x-large;
}

.chapter {
    border-bottom:1px solid lightgray;
}
.section {
    font-size:xx-large;
}
dd,
.details {
    font-size:large;
}

img {
    display:block;
    margin:0 auto;
}
