/* https://github.com/nagexiucai/website */

body {
    overflow-y: hidden;
}

.fullscreen {
    overflow-y: scroll;
}

.grid-item {
    float: left;
    width: 420px;
    height: 240px;
    border: 2px solid hsla(0, 0%, 0%, 0.5);
}

/*
.item {
    width: 420px;
    height: 240px;
    background-image: url("/frontend/material-library/rippling-wheat.png");
    background-repeat: no-repeat;
    border: 1px solid white;
    display: inline-block;
}
*/