/* https://github.com/nagexiucai/website */

.container {
  position: absolute;
  top: 30%;
  width: 100%;
}

.projects {
    width: 75%;
    margin-right: auto;
    margin-left: auto;
}

.project {
    display: inline-block;
    width: 192px;
    height: 128px;
    background-color: silver;
    border: 1px solid white;
    background-repeat: no-repeat;
}

.project:hover {
    cursor: pointer;
}

.cover {
    position: fixed;
    z-index: 88;
    width: 100%;
    background-color: rgba(255,255,255,0.875);
}

.close {
    position: fixed;
    z-index: 99;
    with: 100%;
}

.kill {
    width: 40px;
    height: 20px;
    font-size: 18px;
    line-height: 20px;
    float: right;
}

.kill a {
    color: red;
    border: 1px solid gray;
}

.shityun {
    background-image: url("/frontend/material-library/logo-shityun.png");
}

.cfgui {
    background-image: url("/frontend/material-library/logo-cfgui.png");
}

.wellguard {
    background-image: url("/frontend/material-library/logo-wellguard.png");
}

.nxpay {
    background-image: url("/frontend/material-library/logo-nxpay.png");
}

a {
    text-decoration-line: none;
    color: black;
}

a:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}