<div class="fullscreen">
    <div id="square"></div>
    <div id="description">
        <p>
旋转：鼠标左键点住上下左右移动<br/>
缩放：鼠标滚轮<br/>
建议或合作意向<br/>
meATnagexiuaiDOTcom(AT=@，DOT=.)
        </p>
    </div>
</div>
