<div class="fullscreen">
    <div id="logo">
        <a href="/"><img src="/frontend/material-library/logo-official.png" alt="logo"/></a>
    </div>
    <div id="topic">
        <a href="/iot.html">IOT技术栈</a>
        <a href="/in-the-name-of-people.html">人民的名义简谱</a>
    </div>
</div>